.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #EEE2DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.optionDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cancel {
    background-color: #AC3B61;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.confirm {
    background-color: #123C69;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.label {
    font-weight: 700
}

.input {
    padding: 5px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
}

.notes {
    padding: 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #AC3B61
}

