/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/my-bookings/mybookings.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.mybookings_container__9AGsw {
    padding: 20px;
    flex-direction: column;
    background-color: #EEE2DC;
    border-radius: 20px;
    margin: 20px;

}

.mybookings_headerContainer__Dbx1M {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.mybookings_headerText__jfi72 {
    font-size: 80px;
    color: #AC3B61;
    font-weight: 800;
    padding: 10px;
    border-bottom-color: #AC3B61;
    border-bottom-width: 3px;
    
}

.mybookings_emptyBookings__YrFwE {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/booking.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.booking_container__wR7Fe {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.booking_name__hjVom {
    font-weight: 600;
    color: #123C69;
}


.booking_options__25XuB {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.booking_cancel___WJGF:hover {
    color: red;
    font-weight: 700;
}

.booking_finish__LxRLo:hover{
    color: green;
    font-weight: 700;
}

.booking_completed__R5raY {
    color: green;
    font-weight: 700;
}

.booking_cancelled__nPAXq {
    color: red;
    font-weight: 700;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/bookingSummary.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.bookingSummary_backdrop__FDmaq {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingSummary_content__4MJnf {
    background-color: #EEE2DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.bookingSummary_optionDisplay___NQ_H {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bookingSummary_cancel__5lLLh {
    background-color: #AC3B61;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.bookingSummary_confirm__7cmUe {
    background-color: #123C69;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.bookingSummary_label__N_O6F {
    font-weight: 700
}

.bookingSummary_input__9m_iK {
    padding: 5px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
}

.bookingSummary_notes__HT6t8 {
    padding: 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
    overflow-y: scroll;
}

.bookingSummary_header__uaIcl {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #AC3B61
}


/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/picker.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.picker_option__GSxn2 {
    padding: 10px;
    align-items: center;
    width: 170px;
}

.picker_option__GSxn2:hover {
    background-color: lightgray;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/searchBar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.searchBar_container__Rk8fi {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    background-color: #EDC7B7;
}

.searchBar_filterWrapper__qHFPZ {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar_header__tLq_C {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.searchBar_yearFilter__kNX6Y {
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    border-color: lightgray;
    border-width: 1px;
    background-color: whitesmoke;
}

.searchBar_button__AQya5 {
    padding: 10px;
    border-radius: 5px;
    background-color: #123C69;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.searchBar_disabledYearFilter__XqvFD {
    opacity: 0.5;
}
