/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/book-appointment/bookappointment.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.bookappointment_container__ok7TV {
    padding: 20px;
    padding-left: 30px;
    background-color: #EEE2DC;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bookappointment_calendarContainer__C_NpG {
    display: flex;
    flex-direction: column;
}

.bookappointment_infoContainer__0IeEn {
    display: flex;
    flex-direction: column;
}

.bookappointment_header__NAXhY {
    font-size: 30px;
    font-weight: 500;
    color: #AC3B61;
    padding-bottom: 5px;
    border-bottom-color: #AC3B61;
    border-bottom-width: 2px;
    margin-bottom: 20px;
    width: fit-content;

}

.bookappointment_availabilitiesHeader__CCcmn {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;
    background-color: #AC3B61;
    border-radius: 5px;
    justify-content: center;
}

.bookappointment_availabilitiesContainer__Owpel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.bookappointment_displayAvailabilities__Z3oZr {
    display: flex;
    flex-direction: row;
    border-color: #123C69;
    border-right-width: 2px;
    border-left-width: 2px;
    justify-content: center;
    width: fit-content;
    
}

.bookappointment_detailsContainer__SjNiq {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookappointment_durationContainer__kWdzD {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}

.bookappointment_durationText__ynfXT {
    font-size: 30px;
    color: #AC3B61;
    font-weight: 500;
}

.bookappointment_notes__BoUAv {
    border-color: lightgray;
    padding: 10px;
    width: 270px;
    resize: none;
    border-radius: 5px;
}

.bookappointment_notes__BoUAv:is(:focus, :valid) {
    border-width: 2px;
    border-color: #AC3B61;
    padding: 10px;
}

.bookappointment_notes__BoUAv::-webkit-scrollbar {
    width: 0px;
}

.bookappointment_summary__qNwDQ {
    padding: 20px;
    width: 270px;
    background-color: #123C69;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/availabilities.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.availabilities_container__NHUfZ {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-left-width: 2px;
    border-left-color: #123C69;
    border-right-width: 2px;
    border-right-color: #123C69;
     
}

.availabilities_name__Nr7Pq {
    font-weight: 500;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/timetable.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.timetable_container__OpAGr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.timetable_timeslot__cXT_2 {
    padding: 10px;
    border-width: 1px;
    width: 200px;
    
    color: #EEE2DC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AC3B61;
}

.timetable_timeslot__cXT_2:hover {
    cursor: pointer;
}

.timetable_timeslotSelected__DoT0f {
    padding: 10px;
    border-width: 2px;
    width: 200px;
    border-color: #AC3B61;
    color: #AC3B61;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/picker.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.picker_option__GSxn2 {
    padding: 10px;
    align-items: center;
    width: 170px;
}

.picker_option__GSxn2:hover {
    background-color: lightgray;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/bookingSummary.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.bookingSummary_backdrop__FDmaq {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingSummary_content__4MJnf {
    background-color: #EEE2DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.bookingSummary_optionDisplay___NQ_H {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bookingSummary_cancel__5lLLh {
    background-color: #AC3B61;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.bookingSummary_confirm__7cmUe {
    background-color: #123C69;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.bookingSummary_label__N_O6F {
    font-weight: 700
}

.bookingSummary_input__9m_iK {
    padding: 5px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
}

.bookingSummary_notes__HT6t8 {
    padding: 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
    overflow-y: scroll;
}

.bookingSummary_header__uaIcl {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #AC3B61
}


